:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin:0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    padding: 8px 12px;
}

.Nav__logo {
    font-size: 24px;
    color: var(--text-color);
}

.Nav__logo i {
    color: var(--accent-color);
}

.Nav__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.Nav__list li {
    padding: 8px 12px;
}

.Nav__list li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.Nav__icon {
    list-style: none;
    display: flex;
    padding: 0;
}

.Nav__icon li {
    padding: 8px 12px;
}

.Nav__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media  screen and (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .Nav__list {
        display: none;
        flex-direction: column;
        align-items: center;
        width:100%
    }

    .Nav__list li {
        width:100%;
        text-align: center;
    }
    
    .Nav__icon {
        display: none;
        justify-content: center;
        width:100%
    }

    .Nav__toggleBtn {
        display: block;
    }

    .Nav__list.active,
    .Nav__icon.active {
        display: flex;
    }


}


